*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
h1{
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    margin-top: 60px
}
p{
    color: #97A4AE;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.content p{
    width: 80%;
    margin: auto;
    display: block;
}
.wrapper{
    width: 100%;
    background-color: #151719;
    overflow: hidden;
}

/* -----------header-menu-section------------ */
.wrapper .navbar{
    margin-top: 20px;
}
.navbar .header-menu li a{
    color: #97A4AE !important;
    font-weight: 600;
}
.navbar .header-menu li:hover a{
    color: #ffffff !important;
    background-color: #6B6DFF;
    border-radius: 10px;
}
.navbar .header-menu .active{
    background-color: #6B6DFF;
    border-radius: 10px;
    margin-left: 10px;
}
.navbar .header-menu .active a{
    color: #ffffff !important;
}

/* ------------------header-section-------------- */
.header-area h1 span{
    color: #6B6DFF;
}

/* ---------------header-button--------------- */
.header-area .header-button{
    margin: auto;
    display: block;
    width: 300px;
}
.header-area .header-button button{
    color: #ffffff;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 50px;
}
.header-area .header-button .blue{
    background-color: #6B6DFF;
}
.header-area .header-button .blue:hover{
    background-color: #2A2D32; 
}
.header-area .header-button .black{
    background-color: #2A2D32;
    margin-left: 20px;
}
.header-area .header-button .black:hover{
    background-color: #6B6DFF;   
}

/* ------------------video-area--------------- */
.video-area video{
    height: 500px;
    width: 700px;
    margin: auto;
    display: block;
}

/* ------------------work-section-------------------- */
.work-section .row .col-md-6{
    width: 100%;
    text-align: center;
}
.work-section .row .col-md-6 i{
    color: #ffffff;
    font-size: 30px;
    background-color: #6B6DFF;
    padding: 21px;
    border-radius: 50%;
}
.work-section .row .col-md-6 i:hover{
    color: #6B6DFF;
    background-color: #ffffff;
}
.work-section .row .col-md-6 h4{
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
}
.work-section .row .col-md-6 p{
    font-size: 18px;
}

/* -------------data-driven-section------------ */
.data-driven .row .col-md-6{
    margin-bottom: 50px;
}
.data-driven .row .col-md-6 img{
    width: 500px;
    height: 400px;
}
.data-driven .row .col-md-6 h6{
    text-align: left;
    font-weight: 700;
    color: #6B6DFF;
    padding: 10px;
}
.data-driven .row .col-md-6 h2{
    text-align: left;
    font-weight: 700;
    color: #ffffff;
    padding-left: 10px;
}
.data-driven .row .col-md-6 p{
    text-align: left;
    padding-left: 10px;
    
}

/* ---------customer testimonals---------- */
.customer-section .row :first-child{
    margin-left: 0 !important;
}
.customer-section .col-md-4 h5{
    color: #ffffff;
    text-align: center;
}
.customer-section .col-md-6 .text{
    height: 95%;
    width: 95%;
    margin: 20px;
    padding: 20px;
    background-color: #25282C !important;
}
.text p{
    text-align: justify;
    font-size: 18px;
}
.fa-quote-left{
    font-size: 50px !important;
    color:  #5658DD;
    float: left;
    padding: 10px;
}

/* ----------------form-section------------- */
.form{
    width: 100%;
    background-color: #5658DD;
    margin-top: 50px;
    margin-bottom: 20px;
}
.form .left-part h1{
    margin-top: 100px;
    font-weight: 700;
    text-align: left;
    font-size: 30px;
    margin-left: 30px;
}
.form input{
    padding: 10px;
    margin: 20%;
    border: none;
    border-radius: 10px;    
}

/* ---------------footer-menu-------------- */
.nav-1 img{
    margin-left: 20px !important;
}
.nav-1 .fa{
    color: #6B6DFF;
    font-size: 25px;
}
.nav-1 .fa:hover{
    color: #0c10f3;
}
.nav-2 .nav li:hover a{
    color: #6B6DFF !important;
}